.amped-container{
  display:flex; flex-direction:column; height:100%;
}
.amped-content-container{
  display:flex; flex-direction:row;
  .amped-sidebar{
    flex:1; background:#efefef; height:100%; overflow:auto;
  }
  .amped-content{
    flex:5; padding:30px;
  }
}
